body{
    background-color: #2A2F4F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: -1rem;
    margin: -1rem;
    color: #FDE2F3;
}
button{
    background-color: #917FB3;
    border-width: 0;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem;
    width: 5rem;
    font-size: 2rem;
    cursor: pointer;
}
h1{
    color: #2A2F4F;
}
#Top{
    background-color: #ECC9EE;
    padding: 10px;
    margin: 10px;
}